// *******************************************************************************
// * TYPOGRAPHY
// *******************************************************************************
//What's part of the output and what isn't
$compile: (
	normalize: false,
	grid: false,
	spacing: true,
);
// *******************************************************************************
// * TYPOGRAPHY
// *******************************************************************************
$font-size-default: 16px;

// *******************************************************************************
// * GRID
// *******************************************************************************
$columns: 12;
$breakpoints: (
	xs: 100px,
	sm: 200px,
	md: 300px,
);
$gutters: (
	xs: 10px,
	sm: 10px,
	md: 10px,
);

// *******************************************************************************
// * SPACING
// *******************************************************************************
$spacing-multiplier: (1, 2);
$spacing-properties: (
	pt: padding-top,
);

$spacing-distance: (
	xs: 20px,
	sm: 30px,
	md: 20px,
);

// $spacing-distance: 20px;

// *******************************************************************************
// * COLOURS
// *******************************************************************************
//after the hex, add a true to enable it in the output
//<"grey_light": #f4f2eb true>
//generates a class called bg-grey_light with a bg color
$colors: (
	"grey_light": #f4f2eb,
	"grey": #e1e0db,
	"grey_dark": #c2c2bf
);
//Colors used in templating ('.bg-link')
$themes: (
	"link": cl("grey_light")
);
@each $color, $hex in $colors {
	@if length($hex) > 1 and nth($hex, 2) {
		$hex: nth($hex, 1);
		$themes: if(variable-exists(themes), map-merge($themes, ($color:$hex)), ($color: $hex)) !global;
	}
}

$debug-level: 1;