textarea,
input {
	border: 1px solid cl(grey);
	padding: .6em;
	box-sizing: border-box;

	&::input-placeholder{ color: cl(grey); }
	&::-moz-input-placeholder { color: cl(grey);}
	&::-webkit-input-placeholder { color: cl(grey);}

	
	&:-webkit-inner-spin-button {
		-webkit-visibility: none;
	}
}